{% macro attachment_wrapper(attachment, is_sensitive) %}
  {% if is_sensitive %}
  <div class="attachment-wrapper">
      <details class="sensitive-attachment">
          <summary class="label-btn show-hide-sensitive-btn">{{ _("Sensitive content") }}</summary>
          <div class="sensitive-attachment-box attachment-orientation-{{orientation}}">
              <div></div>
              {{ caller() }}
          </div>
      </details>
  </div>
  {% else %}
  <div class="attachment-item attachment-orientation-{{orientation}}">
    {{ caller() }}
  </div>
  {% endif %}
{% endmacro %}

{% macro attachments(object) %}
    {% for attachment in object.attachments %}
        {% if attachment.type != "PropertyValue" %}
            {% set orientation = "unknown" %}
            {% if attachment.width %}
                {% set orientation = "portrait" if attachment.width < attachment.height else "landscape" %}
            {% endif %}
            {% set is_sensitive = true if object.sensitive and (attachment.type == "Image" or (attachment | has_media_type("image")) or attachment.type == "Video" or (attachment | has_media_type("video"))) else false %}
            {% call attachment_wrapper(attachment, is_sensitive) %}
                {% if attachment.type == "Image" or (attachment | has_media_type("image")) %}
                    {% if attachment.url not in object.inlined_images %}
                    <a class="media-link" href="{{ attachment.proxied_url }}" target="_blank" rel="noopener">
                        <img src="{{ attachment.resized_url or attachment.proxied_url }}" alt="{{ attachment.name or '' }}"{% if attachment.width and attachment.height %} width="{{ attachment.width }}" height="{{ attachment.height }}"{% endif %} class="attachment u-photo" loading="lazy"{% if ENABLE_MICRODATA %} itemprop="image"{% endif %}>
                    </a>
                    {% endif %}
                {% elif attachment.type == "Video" or (attachment | has_media_type("video")) %}
                <div class="video-wrapper">
                <video controls preload="metadata" src="{{ attachment.proxied_url }}"{% if attachment.name %} title="{{ attachment.name }}"{% endif %}{% if attachment.width and attachment.height %} width="{{ attachment.width }}" height="{{ attachment.height }}"{% endif %}{% if attachment.poster_url %} poster="{{ attachment.poster_url }}"{% endif %}{% if attachment.has_audio is not none %} data-has-audio="{{ attachment.has_audio | lower }}"{% endif %} class="u-video"{% if ENABLE_MICRODATA %} itemprop="video"{% endif %}></video>
                <div class="video-gif-overlay">GIF</div>
                </div>
                {% elif attachment.type == "Audio" or (attachment | has_media_type("audio")) %}
                <audio controls preload="metadata" src="{{ attachment.proxied_url }}"{% if attachment.name%} title="{{ attachment.name }}"{% endif %} class="attachment u-audio"{% if ENABLE_MICRODATA %} itemprop="audio"{% endif %}></audio>
                {% elif attachment.type == "Link" %}
                <a href="{{ attachment.url }}" class="attachment">{{ attachment.url | truncate(64, True) }}</a> ({{ attachment.mimetype}})
                {% else %}
                <a href="{{ attachment.url | media_proxy_url }}"{% if attachment.name %} title="{{ attachment.url }}"{% endif %} class="attachment">
                    {% if attachment.name %}{{ attachment.name }}{% else %}{{ attachment.url | truncate(64, True) }}{% endif %}
                </a> ({{ attachment.mimetype }})
                {% endif %}
            {% endcall %}
        {% endif %}
    {% endfor %}
{% endmacro %}
