{%- import "components/actor.html" as actor_component with context -%}
{%- import "components/pagination.html" as pagination with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{% trans %}Blocked accounts{% endtrans %}</title>
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<div id="blocks">
{% if blocked_actors %}
<ul>
{% for actor in blocked_actors %}
<li>
    <div class="ap-object">
        {{ actor_component.display_actor(request, csrf_token, is_admin, actor, actors_metadata) }}
    </div>
</li>
{% endfor %}
</ul>
{% else %}
<div class="box">
    <p>{{ _("No blocked accounts.") }}</p>
</div>
{% endif %}

{{ pagination.pagination(url_for("admin_blocks"), next_cursor) }}

<div class="box">
    <p><a href="{{ url_for("admin_outbox") }}?filter_by=Block">{{ _("Block activities") }}</a></p>
</div>
</div>
{% endblock %}
