{%- import "components/hidden_inputs.html" as hidden_inputs -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ _("%(name)s - Edit", name=local_actor.display_name) }}</title>
{% endblock %}

{% block content %}

<div class="box">

{% if error %}
<p class="error-box">{{ error }}</p>
{% endif %}

<form class="form admin-new" action="{{ request.url_for("admin_actions_edit_text", public_id=public_id) }}" enctype="multipart/form-data" method="POST">
    {{ hidden_inputs.embed_csrf_token(csrf_token) }}

    {% if outbox_object.ap_type == "Article" %}
    <p class="form-field">
        <label for="name">{{ _("Title") }}</label>
        <input type="text" class="width-95" id="name" name="name" placeholder="{{ _("Title") }}" value="{{ outbox_object.name }}">
    </p>
    {% endif %}

    <p class="form-field">
        <label for="alias">{{ _("URL alias") }}</label>
        <input type="text" class="width-95" id="alias" name="alias"
               placeholder="{{ _("URL alias") }}" value="{{ outbox_object.alias or "" }}">
        <span class="muted">{{ _("Leave empty to remove the alias.") }}</span>
    </p>

    <p class="form-field">
        <label for="content">{{ _("Content") }}</label>
        {% if emojis or custom_emojis %}
        <div class="emoji-picker">
        {% for emoji in emojis %}
        <button type="button" class="ji">{{ emoji | emojify(True) | safe }}</button>
        {% endfor %}
        {% for emoji in custom_emojis %}
        <button type="button" class="ji"><img src="{{ emoji.icon.url }}" alt="{{ emoji.name }}" title="{{ emoji.name }}" class="custom-emoji" loading="lazy"></button>
        {% endfor %}
        </div>
        {% endif %}
        <textarea id="content" name="content" rows="10" cols="50" autofocus="autofocus">{{ content }}</textarea>
    </p>

    <p class="form-field">
        <label for="content_warning">{{ _("Content warning") }}</label>
        <input type="text" id="content_warning" name="content_warning" placeholder="{{ _("will mark the post as sensitive") }}"{% if content_warning %} value="{{ content_warning }}"{% endif %} class="width-95">
    </p>
    <p class="form-field-inline">
        <input type="checkbox" name="is_sensitive" id="is_sensitive" {% if is_sensitive %}checked{% endif %}> <label for="is_sensitive">{{ _("Mark attachment(s) as sensitive") }}</label>
    </p>

    <p>
        <input type="submit" value="{{ _("Submit") }}">
    </p>
</form>
</div>
<script src="{{ BASE_URL }}/static/new.js?v={{ JS_HASH }}"></script>
{% endblock %}
